*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  background-image: url('/static/images/smoky-cloud.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}
.container{
  width:100%;
  max-width:500px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow:  0 0 10px rgba(0,0,0,0.25);
  padding:20px;
}
h2{
  text-align: center;
  font-weight: 600;
  color:#007bff;
}
form{
  margin-top:20px;
}
form .input-box{
  display: flex;
  flex-direction: column;
  margin:15px 0;
}
form .input-box label{
  font-size:15px;
  font-weight: 500;
}
form .input-box input,select{
  padding:5px;
  border:1px solid #959595;
  color:#1b1a1a;
  border-radius:4px;
  font-size:15px;
  margin-top: 5px;
  transition: border 0.3s, box-shadow 0.3s;
}
.input-box input:focus,
.input-box select:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);            
}
form button{
  width:100%;
  padding:5px;
  font-size: 16px;
  font-weight: 500;
  background-color: #007bff;
  color:#fff;
  border:0;
  border-radius: 4px;
  cursor: pointer;
}
h3{
   text-align: center;
   margin-top:15px;
   font-weight: 500;
   color:#28a745;
}
